extends /layout/_application
block body
  div.wrapper
    // 1
    div.page
      p.msg 成長する円
      p.txt 田島真悟
    // 2
    div.page
      p.msg 「継続は力なり」<br>という言葉があります
    // 3
    div.page
      p.msg 僕はこの言葉を<br>視覚的に表現しようと思いました。
    // 4
    div.page
      p.msg 人間、どんな技能でも<br>毎日繰り返し行うことで、<br>その精度は磨かれていきます。
    // 5
    div.page
      p.msg 今回は、「円を描く」<br>というシンプルな行為について<br>考えてみます。
    // 6
    div.page
      p.msg これほど単純な技能でさえ、<br>10年間毎日繰り返せば徐々に綺麗な円が<br>描けるようになっていくでしょう。
    // 7
    div.page
      p.draw_pic
        img(src="img/common/hand.png" alt="hand")
      p.msg しかし、利き手で描いてもつまらないので<br>“非”利き手で描くというルールを設定します。
    // 8
    div.page.drawPage
      p.draw_pic
        img(src="img/common/hand.png" alt="hand")
      div.complete
        - for (var i = 0; i < 16; i++){
          p.complete_circle
            img(src="img/circle_begin/#{(i % 8) + 1}.png" alt="circle")
        - }
        - for (var i = 0; i < 17; i++){
          p.complete_circle
            img(src="img/circle_middle/#{(i % 8) + 1}.png" alt="circle")
        - }
        - for (var i = 0; i < 15; i++){
          p.complete_circle
            img(src="img/circle_fin/#{(i % 8) + 1}.png" alt="circle")
        - }
      div.drawnCircle_container
      canvas.canvas
      p.draw_hand
        img(src="img/common/hand.png" alt="hand")
      p.date.
        DAY <span class="date_num">1</span>
      div.tree_container
        - for (var i = 0; i < 5; i++){
          p.tree
        - }
      div.msg_container
        p.msg 最初はきっと、うまく描けずに<br>いびつな円になってしまうでしょう。
        p.msg しかし、毎日毎日描き続け、 
        p.msg 1年が過ぎ、
        p.msg 5年が過ぎ、
        p.msg 10年が経ったとき、
        p.msg 僕の腕はきっと、<br>きれいな円が描けるように<br>なっているはずです。
        p.msg この10年間描き続けた円、<br>3652個を統合し、
        p.msg “年輪”として表現します。 
    // 9
    div.page
      p.pic
        img(src="img/common/illust.jpg" alt="説明図")
      p.msg 10年間にわたって描いた円を木の中央から、<br>年月を経るごとに外側へと輪が広がっていくように刻みます。 <br>年月の重みを肌で感じられるよう、<br>この年輪をあしらった切り株の3Dモデルを<br>実際の木の大きさで樹脂加工し、具現化します。
    // 10
    div.page
      p.pic
        img(src="img/common/illust.jpg" alt="説明図")
      p.msg 観察してみると、<br>中央付近ではまだ歪んだ形だった輪が、<br>外側にいくほどに綺麗で整った輪に<br>なっていく姿がわかるはずです。
    // 11
    div.page
      p.pic
        img(src="img/common/illust.jpg" alt="説明図")
      p.msg ちなみに、年輪は英語圏で“grouth ring”と呼ばれます。<br>すなわち成長する輪(円)という意味です。<br>本作品では、円としての精度が徐々に<br>磨かれていくという点において、<br>この言葉どおりの作品となっています。
    // 12
    //
      div.page
        p.msg (補足)<br>3652日分、全ての円を年輪に起こすと、<br>仮に輪と輪の幅を2mmと設定しても直径約15mの<br>切り株ができあがってしまい現実的ではないため、<br>実際には10日分ごとに円を集計し、<br>それぞれ各10個ずつの円の平均となるパスを出力する<br>といった処理を行おうと考えています。

  p.next Press EnterKey to Next
